#      WEB SCRAPING ‚Äì ASSIGNMENT  4

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests
from selenium.common.exceptions import  NoSuchElementException, StaleElementReferenceException
import re

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [6]:
driver=webdriver.Chrome()

In [7]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ')

In [14]:
Name=[]
name=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[2]")
for i in name:
    if i.text is None :
        Name.append("-") 
    else:
        Name.append(i.text)
print(Name)

["hide\nThis section has multiple issues. Please help improve it or discuss these issues on the talk page. (Learn how and when to remove these template messages)\nThis section's factual accuracy is disputed. (February 2024)\nThis section needs expansion with: Information to the reader the auto-generated playlist from YouTube is not an index of a video popularity due to the views-counting algorithm. You can help by adding to it. (February 2024)"]

In [15]:
Artist=[]
artist=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[3]")
for i in artist:
    if i.text is None :
        Artist.append("-") 
    else:
        Artist.append(i.text)
print(Artist)

[]

In [16]:
Upload_Date=[]
date=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[5]")
for i in date:
    if i.text is None :
        Upload_Date.append("-") 
    else:
        Upload_Date.append(i.text)
print(Upload_Date)

[]

In [18]:
Views=[]
views=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[4]")
for i in views:
    if i.text is None :
        Views.append("-") 
    else:
        Views.append(i.text)
print(Views)

[]

In [ ]:
Youtube_Video=pd.DataFrame([])
Youtube_Video['Rank']=Rank
Youtube_Video['Video Title']=Name
Youtube_Video['Artist']=Artist
Youtube_Video['Upload_Date']=Upload_Date
Youtube_Video['Views In Bllion']=Views
Youtube_Video

# 2. Scrape the details team India‚Äôs international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time

In [21]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv')

In [25]:
LIST=driver.find_element(By.XPATH,'/html/body/div[6]/div[1]/div/div/div[2]/div/div[2]/div/div[1]/div[1]')
LIST.click()

In [26]:
Series=[]
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)
    
    
print(Series)

['ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

In [27]:
Place=[]
place=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place:
    Place.append(i.text)
    
    
print(Place)

['JSCA International Stadium Complex,', 'Himachal Pradesh Cricket Association Stadium,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,']

In [29]:
Date=[]
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)
                          
            
print(Date)

['23 FEBRUARY, 2024', '7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

In [34]:
TIME=[]
time=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in time:
    TIME.append(i.text)
    
    
print(TIME)

['23 FEBRUARY, 2024', '7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

In [35]:
BCCI=pd.DataFrame([])
BCCI['series']=Series
BCCI['place']=Place
BCCI['date']=Date
BCCI['time']=TIME
BCCI

,series,place,date,time
0,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex,","23 FEBRUARY, 2024","23 FEBRUARY, 2024"
1,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,","7 MARCH, 2024","7 MARCH, 2024"
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024","6 JULY, 2024"
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024","7 JULY, 2024"
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","10 JULY, 2024","10 JULY, 2024"
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","13 JULY, 2024","13 JULY, 2024"
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","14 JULY, 2024","14 JULY, 2024"

# 3 Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion)

In [38]:
driver=webdriver.Chrome()
driver.get('https://statisticstimes.com')

In [39]:
economy_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_btn.click()
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search.click()

In [43]:
states_gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]')
states_gdp.click()

In [47]:
Rank=[]
rank=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank:
    if i.text is None:
        Rank.append("-")
    else:
        Rank.append(i.text)
print(len(Rank))
print(Rank)

68
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']

In [49]:
States=[]
state=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state:
    if i.text is None:
        States.append("-")
    else:
        States.append(i.text)
print(len(States))
print(States)

68
['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands', 'India', 'Maharashtra', 'Tamil Nadu', 'Karnataka', 'Uttar Pradesh', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Telangana', 'Andhra Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Odisha', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Manipur', 'Arunachal Pradesh', 'Sikkim', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands', 'India']

In [62]:
# GSDP(22-23)- at current prices 
GSDP1=[]
gsdp1=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[3]')
for i in gsdp1:
    if i.text is None :
        GSDP1.append("--") 
    else:
        GSDP1.append(i.text)
print(len(GSDP1))
print(GSDP1)

34
['-', '2,257,575', '-', '1,413,620', '1,317,728', '-', '994,154', '751,396', '493,167', '393,722', '227,927', '-', '-', '42,697', '-', '-', '-', '-', '2,036,748', '-', '1,259,527', '1,187,082', '-', '885,308', '691,888', '427,147', '360,689', '185,489', '-', '-', '37,925', '-', '-', '-']

In [64]:
# GSDP(21-22)- at current prices 
GSDP2=[]
gsdp2=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[4]')
for i in gsdp2:
    if i.text is None :
        GSDP2.append("--") 
    else:
        GSDP2.append(i.text)
print(len(GSDP2))
print(GSDP2)

34
['3,108,022', '1,974,532', '1,937,066', '1,218,193', '1,133,837', '932,470', '870,665', '650,302', '412,612', '358,863', '199,917', '82,604', '45,635', '38,785', '36,594', '31,913', '10,371', '2,690,525', '1,782,121', '1,700,504', '1,084,845', '1,024,205', '822,970', '779,197', '587,900', '363,161', '325,830', '162,644', '73,973', '40,573', '34,441', '31,669', '27,859', '9,209']

In [53]:
GDP_billion=[]
gdp=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    if i.text is None:
        GDP_billion.append('-')
    else:
        GDP_billion.append(i.text)
        
print(len(GDP_billion))
print(GDP_billion)

33
['417.163', '278.011', '265.024', '263.440', '259.996', '183.068', '163.507', '152.494', '152.185', '151.523', '125.157', '121.422', '116.862', '90.047', '87.284', '82.442', '55.381', '54.550', '48.167', '36.530', '26.833', '23.659', '11.087', '8.396', '6.125', '5.938', '5.206', '5.041', '4.912', '4.714', '4.283', '3.735', '1.392']

In [55]:
Share=[]
share=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
for i in share:
    if i.text is None:
        Share.append('-')
    else:
        Share.append(i.text)
        
print(len(Share))        
print(Share)

33
['13.24%', '8.82%', '8.41%', '8.36%', '8.25%', '5.81%', '5.19%', '4.84%', '4.83%', '4.81%', '3.97%', '3.85%', '3.71%', '2.86%', '2.77%', '2.62%', '1.76%', '1.73%', '1.53%', '1.16%', '0.85%', '0.75%', '0.35%', '0.27%', '0.19%', '0.19%', '0.17%', '0.16%', '0.16%', '0.15%', '0.14%', '0.12%', '0.04%']

In [65]:
State_GDP=pd.DataFrame([])
State_GDP['Rank']=Rank[:33]
State_GDP['State']=States[:33]
State_GDP['Share In GDP']=Share[:33]
State_GDP['GDP of State']=GDP_billion[:33]
State_GDP['GSDP_Current']=GSDP1[:33]
State_GDP['GSDP_Previous']=GSDP2[:33]
State_GDP

,Rank,State,Share In GDP,GDP of State,GSDP_Current,GSDP_Previous
0,1,Maharashtra,13.24%,417.163,-,"3,108,022"
1,2,Tamil Nadu,8.82%,278.011,"2,257,575","1,974,532"
2,3,Uttar Pradesh,8.41%,265.024,-,"1,937,066"
3,4,Karnataka,8.36%,263.440,"1,413,620","1,218,193"
4,5,Gujarat,8.25%,259.996,"1,317,728","1,133,837"
5,6,West Bengal,5.81%,183.068,-,"932,470"
6,7,Rajasthan,5.19%,163.507,"994,154","870,665"
7,8,Madhya Pradesh,4.84%,152.494,"751,396","650,302"
8,9,Andhra Pradesh,4.83%,152.185,"493,167","412,612"
9,10,Telangana,4.81%,151.523,"393,722","358,863"
10,11,Kerala,3.97%,125.157,"227,927","199,917"
11,12,Delhi,3.85%,121.422,-,"82,604"
12,13,Haryana,3.71%,116.862,-,"45,635"
13,14,Odisha,2.86%,90.047,"42,697","38,785"
14,15,Bihar,2.77%,87.284,-,"36,594"
15,16,Punjab,2.62%,82.442,-,"31,913"
16,17,Assam,1.76%,55.381,-,"10,371"
17,18,Chhattisgarh,1.73%,54.550,-,"2,690,525"
18,19,Jharkhand,1.53%,48.167,"2,036,748","1,782,121"
19,20,Uttarakhand,1.16%,36.530,-,"1,700,504"
20,21,Jammu & Kashmir-UT,0.85%,26.833,"1,259,527","1,084,845"
21,22,Himachal Pradesh,0.75%,23.659,"1,187,082","1,024,205"
22,23,Goa,0.35%,11.087,-,"822,970"
23,24,Tripura,0.27%,8.396,"885,308","779,197"
24,25,Chandigarh,0.19%,6.125,"691,888","587,900"
25,26,Puducherry,0.19%,5.938,"427,147","363,161"
26,27,Meghalaya,0.17%,5.206,"360,689","325,830"
27,28,Sikkim,0.16%,5.041,"185,489","162,644"
28,29,Manipur,0.16%,4.912,-,"73,973"
29,30,Arunachal Pradesh,0.15%,4.714,-,"40,573"
30,31,Nagaland,0.14%,4.283,"37,925","34,441"
31,32,Mizoram,0.12%,3.735,-,"31,669"
32,33,Andaman & Nicobar Islands,0.04%,1.392,-,"27,859"

# 4.Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [79]:
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [80]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')     
explore.click()
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')      
trending.click()

In [81]:
Repository=[]
repo=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in repo:
    Repository.append(i.text)
    
print(Repository)

['charlax / professional-programming', 'I-S00N / I-S00N', 'chatchat-space / Langchain-Chatchat', 'GopeedLab / gopeed', 'krahets / hello-algo', '1Panel-dev / 1Panel', 'Kalabasa / htmz', 'zhayujie / chatgpt-on-wechat', 'FujiwaraChoki / MoneyPrinterV2', 'ChatGPTNextWeb / ChatGPT-Next-Web', 'karpathy / minbpe', 'maybe-finance / maybe', 'codecrafters-io / build-your-own-x', 'QuivrHQ / quivr', 'mut-ex / gligen-gui', 'sherlock-project / sherlock', 'rustdesk / rustdesk', 'songquanpeng / one-api', 'LargeWorldModel / LWM', 'xtekky / gpt4free', 'jlevy / the-art-of-command-line', 'tw93 / Pake', 'oddfar / campus-imaotai', 'facebookresearch / jepa', 'lobehub / lobe-chat']

In [82]:
Description=[]
des=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in des:
    Description.append(i.text)
    
print(Description)

['A collection of learning resources for curious software engineers', 'Langchain-ChatchatÔºàÂéüLangchain-ChatGLMÔºâÂü∫‰∫é Langchain ‰∏é ChatGLM Á≠âËØ≠Ë®ÄÊ®°ÂûãÁöÑÊú¨Âú∞Áü•ËØÜÂ∫ìÈóÆÁ≠î | Langchain-Chatchat (formerly langchain-ChatGLM), local knowledge based LLM (like ChatGLM) QA app with langchain', 'A modern download manager that supports all platforms. Built with Golang and Flutter.', '„ÄäHello ÁÆóÊ≥ï„ÄãÔºöÂä®ÁîªÂõæËß£„ÄÅ‰∏ÄÈîÆËøêË°åÁöÑÊï∞ÊçÆÁªìÊûÑ‰∏éÁÆóÊ≥ïÊïôÁ®ãÔºåÊîØÊåÅ Python, C++, Java, C#, Go, Swift, JS, TS, Dart, Rust, C, Zig Á≠âËØ≠Ë®Ä„ÄÇEnglish edition ongoing', 'üî• üî• üî• Áé∞‰ª£Âåñ„ÄÅÂºÄÊ∫êÁöÑ Linux ÊúçÂä°Âô®ËøêÁª¥ÁÆ°ÁêÜÈù¢Êùø„ÄÇ', 'html with targeted manipulation zones', 'Âü∫‰∫éÂ§ßÊ®°ÂûãÊê≠Âª∫ÁöÑÂæÆ‰ø°ËÅäÂ§©Êú∫Âô®‰∫∫ÔºåÂêåÊó∂ÊîØÊåÅÂæÆ‰ø°„ÄÅ‰ºÅ‰∏öÂæÆ‰ø°„ÄÅÂÖ¨‰ºóÂè∑„ÄÅÈ£û‰π¶„ÄÅÈíâÈíâÊé•ÂÖ•ÔºåÂèØÈÄâÊã©GPT3.5/GPT4.0/Claude/ÊñáÂøÉ‰∏ÄË®Ä/ËÆØÈ£ûÊòüÁÅ´/ÈÄö‰πâÂçÉÈóÆ/Gemini/GLM-4/LinkAIÔºåËÉΩÂ§ÑÁêÜÊñáÊú¨„ÄÅËØ≠Èü≥ÂíåÂõæÁâáÔºåËÆøÈóÆÊìç‰ΩúÁ≥ªÁªüÂíå‰∫íËÅîÁΩëÔºåÊîØÊåÅÂü∫‰∫éËá™ÊúâÁü•ËØÜÂ∫ìËøõË°åÂÆöÂà∂‰ºÅ‰∏öÊô∫ËÉΩÂÆ¢Êúç„ÄÇ', 'Automate the process of making money online.', 'A cross-platform ChatGPT/Gemini UI (Web / PWA / Linux / Win / MacOS). ‰∏ÄÈîÆÊã•Êúâ‰Ω†Ëá™Â∑±ÁöÑË∑®Âπ≥Âè∞ ChatGPT/Gemini Â∫îÁî®„ÄÇ', 'Minimal, clean, code for the Byte Pair Encoding (BPE) algorithm commonly used in LLM tokenization.', 'The OS for your personal finances', 'Master programming by recreating your favorite technologies from scratch.', 'Your GenAI Second Brain üß† A personal productivity assistant (RAG) ‚ö°Ô∏èü§ñ Chat with your docs (PDF, CSV, ...) & apps using Langchain, GPT 3.5 / 4 turbo, Private, Anthropic, VertexAI, Ollama, LLMs, that you can share with users ! Local & Private alternative to OpenAI GPTs & ChatGPT powered by retrieval-augmented generation.', 'An intuitive GUI for GLIGEN that uses ComfyUI in the backend', 'üîé Hunt down social media accounts by username across social networks', 'An open-source remote desktop, and alternative to TeamViewer.', 'OpenAI Êé•Âè£ÁÆ°ÁêÜ & ÂàÜÂèëÁ≥ªÁªüÔºåÊîØÊåÅ Azure„ÄÅAnthropic Claude„ÄÅGoogle PaLM 2 & Gemini„ÄÅÊô∫Ë∞± ChatGLM„ÄÅÁôæÂ∫¶ÊñáÂøÉ‰∏ÄË®Ä„ÄÅËÆØÈ£ûÊòüÁÅ´ËÆ§Áü•„ÄÅÈòøÈáåÈÄö‰πâÂçÉÈóÆ„ÄÅ360 Êô∫ËÑë‰ª•ÂèäËÖæËÆØÊ∑∑ÂÖÉÔºåÂèØÁî®‰∫é‰∫åÊ¨°ÂàÜÂèëÁÆ°ÁêÜ keyÔºå‰ªÖÂçïÂèØÊâßË°åÊñá‰ª∂ÔºåÂ∑≤ÊâìÂåÖÂ•Ω Docker ÈïúÂÉèÔºå‰∏ÄÈîÆÈÉ®ÁΩ≤ÔºåÂºÄÁÆ±Âç≥Áî®. OpenAI key management & redistribution system, using a single API for all LLMs, and features an English UI.', 'The official gpt4free repository | various collection of powerful language models', 'Master the command line, in one page', 'ü§±üèª Turn any webpage into a desktop app with Rust. ü§±üèª Âà©Áî® Rust ËΩªÊùæÊûÑÂª∫ËΩªÈáèÁ∫ßÂ§öÁ´ØÊ°åÈù¢Â∫îÁî®', 'iËåÖÂè∞appËá™Âä®È¢ÑÁ∫¶ÔºåÊØèÊó•Ëá™Âä®È¢ÑÁ∫¶ÔºåÊîØÊåÅdocker‰∏ÄÈîÆÈÉ®ÁΩ≤', 'PyTorch code and models for V-JEPA self-supervised learning from video.', 'ü§ñ Lobe Chat - an open-source, high-performance AI Chat framework. Support one-click free deployment of your private ChatGPT/Gemini/Local LLM application.']

In [87]:
Contributor_count=[]
cc=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
for i in cc:
    if i.text is None :
        Contributor_count.append("NAN")
    else:
        Contributor_count.append(i.text)

        
print(Contributor_count)

['2,791', '1,622', '3,942', '740', '7,689', '1,415', '21', '6,045', '65', '51,421', '455', '1,757', '23,396', '2,727', '71', '5,880', '6,285', '2,345', '403', '12,293', '13,990', '3,091', '801', '111', '3,691']

In [86]:
Language=[]
lang=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lang:
    if i.text is None:
        Language.append('--')
    else:
        Language.append(i.text)
        
        
print(Language)

['Python', 'Python', 'Dart', 'Java', 'Go', 'JavaScript', 'Python', 'Python', 'TypeScript', 'Python', 'Ruby', 'TypeScript', 'JavaScript', 'Python', 'Rust', 'JavaScript', 'Python', 'Python', 'Rust', 'Java', 'Python', 'TypeScript']

In [77]:
print(len(Repository),len(Description),len(Contributors_count),len(Language))

25 23 25 20

In [89]:
GIT_HUB=pd.DataFrame({'repository':Repository[:20],'description':Description[:20],'language':Language[:20],'contributor_count':Contributor_count[:20]})
GIT_HUB

,repository,description,language,contributor_count
0,charlax / professional-programming,A collection of learning resources for curious...,Python,"2,791"
1,I-S00N / I-S00N,Langchain-ChatchatÔºàÂéüLangchain-ChatGLMÔºâÂü∫‰∫é Langc...,Python,"1,622"
2,chatchat-space / Langchain-Chatchat,A modern download manager that supports all pl...,Dart,"3,942"
3,GopeedLab / gopeed,"„ÄäHello ÁÆóÊ≥ï„ÄãÔºöÂä®ÁîªÂõæËß£„ÄÅ‰∏ÄÈîÆËøêË°åÁöÑÊï∞ÊçÆÁªìÊûÑ‰∏éÁÆóÊ≥ïÊïôÁ®ãÔºåÊîØÊåÅ Python, C++,...",Java,740
4,krahets / hello-algo,üî• üî• üî• Áé∞‰ª£Âåñ„ÄÅÂºÄÊ∫êÁöÑ Linux ÊúçÂä°Âô®ËøêÁª¥ÁÆ°ÁêÜÈù¢Êùø„ÄÇ,Go,"7,689"
5,1Panel-dev / 1Panel,html with targeted manipulation zones,JavaScript,"1,415"
6,Kalabasa / htmz,Âü∫‰∫éÂ§ßÊ®°ÂûãÊê≠Âª∫ÁöÑÂæÆ‰ø°ËÅäÂ§©Êú∫Âô®‰∫∫ÔºåÂêåÊó∂ÊîØÊåÅÂæÆ‰ø°„ÄÅ‰ºÅ‰∏öÂæÆ‰ø°„ÄÅÂÖ¨‰ºóÂè∑„ÄÅÈ£û‰π¶„ÄÅÈíâÈíâÊé•ÂÖ•ÔºåÂèØÈÄâÊã©GPT...,Python,21
7,zhayujie / chatgpt-on-wechat,Automate the process of making money online.,Python,"6,045"
8,FujiwaraChoki / MoneyPrinterV2,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,TypeScript,65
9,ChatGPTNextWeb / ChatGPT-Next-Web,"Minimal, clean, code for the Byte Pair Encodin...",Python,"51,421"
10,karpathy / minbpe,The OS for your personal finances,Ruby,455
11,maybe-finance / maybe,Master programming by recreating your favorite...,TypeScript,"1,757"
12,codecrafters-io / build-your-own-x,Your GenAI Second Brain üß† A personal productiv...,JavaScript,"23,396"
13,QuivrHQ / quivr,An intuitive GUI for GLIGEN that uses ComfyUI ...,Python,"2,727"
14,mut-ex / gligen-gui,üîé Hunt down social media accounts by username ...,Rust,71
15,sherlock-project / sherlock,"An open-source remote desktop, and alternative...",JavaScript,"5,880"
16,rustdesk / rustdesk,OpenAI Êé•Âè£ÁÆ°ÁêÜ & ÂàÜÂèëÁ≥ªÁªüÔºåÊîØÊåÅ Azure„ÄÅAnthropic Claude„ÄÅG...,Python,"6,285"
17,songquanpeng / one-api,The official gpt4free repository | various col...,Python,"2,345"
18,LargeWorldModel / LWM,"Master the command line, in one page",Rust,403
19,xtekky / gpt4free,ü§±üèª Turn any webpage into a desktop app with Ru...,Java,"12,293"

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board

In [93]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com')

In [94]:
search1=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
search1.click()

In [98]:
search2=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
search2.click()

In [101]:
Song_name=[]
Artist_name=[] 
Last_week_rank=[] 
Peak_rank=[] 
Weeks_on_board =[]

In [102]:
song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
for i in song:
    Song_name.append(i.text)
    
print(Song_name)

['Lovin On Me', "Texas Hold 'Em", 'Carnival', 'Beautiful Things', 'Lose Control', 'Cruel Summer', 'Snooze', 'I Remember Everything', 'Greedy', 'Stick Season', 'Fast Car', 'Agora Hills', 'Water', 'Last Night', 'Redrum', "Thinkin' Bout Me", 'Flowers', "Is It Over Now? (Taylor's Version) [From The Vault]", 'Paint The Town Red', 'Yeah!', 'Never Lose Me', 'La Diabla', 'Fuk Sumn', 'Pretty Little Poison', 'Houdini', 'Back To Me', 'What Was I Made For?', 'Forever', 'Where The Wild Things Are', 'Talking', 'Yes, And?', 'Made For Me', 'Burn', 'Vultures', 'The Painter', 'Good Good', 'Selfish', '16 Carriages', 'Stars', 'Everybody', 'Rich Baby Daddy', 'Feather', 'Vampire', 'On My Mama', 'Wild Ones', 'Dance The Night', 'Save Me', 'Hiss', 'Exes', 'Need A Favor', 'Truck Bed', 'Do It', 'Paid', 'Surround Sound', 'Keys To My Life', 'World On Fire', 'First Person Shooter', 'La Victima', 'Get In With Me', 'Burn It Down', 'Standing Next To You', 'Think U The Shit (Fart)', 'Praise Jah In The Moonlight', 'Paperwork', 'Beg Forgiveness', 'Man Made A Bar', 'Hoodrat', 'One Call', 'Igual Que Un Angel', 'Spin You Around (1/24)', 'FTCU', 'One Of The Girls', 'Murder On The Dancefloor', 'You Broke My Heart', 'Northern Attitude', 'FE!N', '23', 'Bandit', 'Problematic', 'Nee-nah', 'Act II: Date @ 8', 'I Can Feel It', "Mamaw's House", 'Soak City', 'Harley Quinn', "You're Gonna Go Far", 'Bellakeo', 'IDGAF', 'Yeah Glo!', "Different 'Round Here", 'She Calls Me Back', "We Don't Fight Anymore", "Good (Don't Die)", 'King', 'Coal', 'Mmhmm', 'Monaco', 'Prove It', 'Perro Negro', 'Sunday Service']

In [106]:
artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in artist:
    Artist_name.append(i.text)
    
print(Artist_name)

['Jack Harlow', 'Beyonce', '¬•$: Kanye West & Ty Dolla $ign', 'Benson Boone', 'Teddy Swims', 'Taylor Swift', 'SZA', 'Zach Bryan Featuring Kacey Musgraves', 'Tate McRae', 'Noah Kahan', 'Luke Combs', 'Doja Cat', 'Tyla', 'Morgan Wallen', '21 Savage', 'Morgan Wallen', 'Miley Cyrus', 'Taylor Swift', 'Doja Cat', 'Usher Featuring Lil Jon & Ludacris', 'Flo Milli', 'Xavi', '¬•$: Kanye West & Ty Dolla $ign', 'Warren Zeiders', 'Dua Lipa', '¬•$: Kanye West & Ty Dolla $ign', 'Billie Eilish', 'Noah Kahan', 'Luke Combs', '¬•$: Kanye West & Ty Dolla $ign Featuring North West', 'Ariana Grande', 'Muni Long', '¬•$: Kanye West & Ty Dolla $ign', '¬•$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J', 'Cody Johnson', 'Usher, Summer Walker & 21 Savage', 'Justin Timberlake', 'Beyonce', '¬•$: Kanye West & Ty Dolla $ign', 'Nicki Minaj Featuring Lil Uzi Vert', 'Drake Featuring Sexyy Red & SZA', 'Sabrina Carpenter', 'Olivia Rodrigo', 'Victoria Monet', 'Jessie Murph & Jelly Roll', 'Dua Lipa', 'Jelly Roll With Lainey Wilson', 'Megan Thee Stallion', 'Tate McRae', 'Jelly Roll', 'HARDY', '¬•$: Kanye West & Ty Dolla $ign', '¬•$: Kanye West & Ty Dolla $ign', 'JID Featuring 21 Savage & Baby Tate', '¬•$: Kanye West & Ty Dolla $ign', 'Nate Smith', 'Drake Featuring J. Cole', 'Xavi', 'BossMan Dlow', 'Parker McCollum', 'Jung Kook', 'Ice Spice', 'YG Marley', '¬•$: Kanye West & Ty Dolla $ign', '¬•$: Kanye West & Ty Dolla $ign', 'Morgan Wallen Featuring Eric Church', '¬•$: Kanye West & Ty Dolla $ign', 'Rich Amiri', 'Kali Uchis & Peso Pluma', 'Morgan Wallen', 'Nicki Minaj', 'The Weeknd, Jennie & Lily Rose Depp', 'Sophie Ellis-Bextor', 'Drake', 'Noah Kahan With Hozier', 'Travis Scott Featuring Playboi Carti', 'Chayce Beckham', 'Don Toliver', '¬•$: Kanye West & Ty Dolla $ign', '21 Savage, Travis Scott & Metro Boomin', '4Batz', 'Kane Brown', 'Thomas Rhett Featuring Morgan Wallen', '310babii', 'Fuerza Regida & Marshmello', 'Noah Kahan', 'Peso Pluma & Anitta', 'Drake Featuring Yeat', 'GloRilla', 'Riley Green Featuring Luke Combs', 'Noah Kahan With Kacey Musgraves', 'Carly Pearce Featuring Chris Stapleton', '¬•$: Kanye West & Ty Dolla $ign', '¬•$: Kanye West & Ty Dolla $ign', 'Dylan Gossett', 'BigXthaPlug', 'Bad Bunny', '21 Savage & Summer Walker', 'Bad Bunny & Feid', 'Latto']

In [107]:
LWR=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in LWR:
    if i.text is None:
        Last_week_rank.append('--')
    else:
        Last_week_rank.append(i.text)

In [108]:
Last_week_rank

['1',
 '-',
 '-',
 '3',
 '2',
 '4',
 '5',
 '6',
 '7',
 '11',
 '8',
 '9',
 '12',
 '15',
 '14',
 '16',
 '10',
 '18',
 '17',
 '-',
 '19',
 '25',
 '-',
 '24',
 '22',
 '-',
 '20',
 '-',
 '26',
 '-',
 '21',
 '28',
 '-',
 '-',
 '30',
 '45',
 '23',
 '-',
 '-',
 '27',
 '32',
 '36',
 '29',
 '33',
 '35',
 '37',
 '40',
 '13',
 '34',
 '39',
 '46',
 '-',
 '-',
 '48',
 '-',
 '44',
 '47',
 '56',
 '68',
 '55',
 '81',
 '52',
 '60',
 '-',
 '-',
 '63',
 '-',
 '64',
 '53',
 '51',
 '54',
 '57',
 '59',
 '65',
 '97',
 '69',
 '74',
 '38',
 '-',
 '58',
 '61',
 '73',
 '78',
 '76',
 '67',
 '-',
 '70',
 '72',
 '-',
 '66',
 '-',
 '79',
 '-',
 '-',
 '86',
 '83',
 '77',
 '75',
 '82',
 '-']

In [109]:
peakrank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in peakrank:
    Peak_rank.append(i.text)
    
    
print(Peak_rank)

['1', '2', '3', '3', '2', '1', '2', '1', '3', '10', '2', '7', '7', '1', '5', '7', '1', '1', '1', '1', '18', '20', '23', '24', '11', '26', '14', '28', '26', '30', '1', '28', '33', '34', '30', '25', '19', '38', '39', '24', '11', '36', '1', '33', '35', '6', '19', '1', '34', '13', '36', '52', '53', '40', '55', '21', '1', '46', '59', '52', '5', '37', '60', '64', '65', '15', '67', '64', '22', '24', '15', '57', '51', '11', '37', '5', '64', '38', '79', '10', '59', '59', '55', '61', '40', '86', '53', '2', '89', '60', '76', '67', '93', '94', '86', '65', '5', '43', '20', '100']

In [110]:
onboard=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for i in onboard:
    Weeks_on_board.append(i.text)
    
    
print(Weeks_on_board)

['14', '1', '1', '4', '27', '41', '61', '25', '22', '20', '47', '21', '20', '55', '5', '50', '52', '16', '28', '46', '9', '9', '1', '23', '14', '1', '30', '1', '13', '1', '5', '5', '1', '1', '19', '27', '3', '1', '1', '10', '19', '11', '30', '22', '19', '33', '32', '3', '13', '44', '35', '1', '1', '14', '1', '16', '19', '9', '2', '17', '15', '3', '3', '1', '1', '21', '1', '3', '5', '3', '10', '8', '7', '13', '11', '16', '7', '2', '1', '5', '6', '7', '7', '9', '15', '1', '9', '19', '1', '11', '2', '9', '1', '1', '6', '8', '18', '5', '15', '1']

In [111]:
df=pd.DataFrame({'song name':Song_name,'artist name':Artist_name,'last week rank':Last_week_rank,'peak rank':Peak_rank,'weeks on board':Weeks_on_board})
df

,song name,artist name,last week rank,peak rank,weeks on board
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,2,1
2,Carnival,¬•$: Kanye West & Ty Dolla $ign,-,3,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,65,8
96,Monaco,Bad Bunny,77,5,18
97,Prove It,21 Savage & Summer Walker,75,43,5
98,Perro Negro,Bad Bunny & Feid,82,20,15
99,Sunday Service,Latto,-,100,1

# 6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre

In [112]:
driver=webdriver.Chrome()
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [114]:
Book_name=[]
Author_name=[]
Volume_sold=[]
Publisher=[]
Genre=[]

In [115]:
name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name:
    Book_name.append(i.text)
    
print(Book_name)

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [116]:
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_name.append(i.text)
    
print(Author_name)

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [118]:
volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume:
    Volume_sold.append(i.text)
    
print(Volume_sold)

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [119]:
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)
    
print(Publisher)

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [120]:
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)
    
print(Genre)

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [121]:
Novels=pd.DataFrame([])
Novels['Book name']=Book_name
Novels['Author name']=Author_name
Novels['volume sold']=Volume_sold
Novels['Publisher']=Publisher
Novels['Genre']=Genre

Novels

,Book name,Author name,volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [131]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc ')

In [124]:
Name=[]
Year_span=[]
Genre=[]
Rating=[]
Votes=[]

In [132]:
name=driver.find_elements(By.XPATH,'//a[@class="ipc-title-link-wrapper"]')
for i in name:
    Name.append(i.text)
    
year=driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]/span[1]')  
for i in year:
    Year_span.append(i.text)
    
gen=driver.find_elements(By.XPATH,'//div[@class="ipc-html-content-inner-div"]')
for i in gen:
    Genre.append(i.text)
    
rating=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating"]')
for i in rating:
    Rating.append(i.text)
    
vote=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star--voteCount"]')
for i in vote:
    Votes.append(i.text)

In [133]:
print(len(Name),len(Year_span),len(Genre),len(Rating),len(Votes))

150 100 100 100 100

In [135]:
TV_Series=pd.DataFrame({'series name':Name[:50], 'year':Year_span[:50],'genre':Genre[:50],'rating':Rating[:50],'votes':Votes[:50]})
TV_Series

,series name,year,genre,rating,votes
0,1. Game of Thrones,2011‚Äì2019,Nine noble families fight for control over the...,9.2\n (2.3M),(2.3M)
1,2. Breaking Bad,2008‚Äì2013,A chemistry teacher diagnosed with inoperable ...,9.5\n (2.1M),(2.1M)
2,3. Stranger Things,2016‚Äì2025,"When a young boy vanishes, a small town uncove...",8.7\n (1.3M),(1.3M)
3,4. Friends,1994‚Äì2004,Follows the personal and professional lives of...,8.9\n (1.1M),(1.1M)
4,5. The Walking Dead,2010‚Äì2022,Sheriff Deputy Rick Grimes wakes up from a com...,8.1\n (1.1M),(1.1M)
5,6. Sherlock,2010‚Äì2017,The quirky spin on Conan Doyle's iconic sleuth...,9.1\n (988K),(988K)
6,7. The Big Bang Theory,2007‚Äì2019,A woman who moves into an apartment across the...,8.1\n (860K),(860K)
7,8. Dexter,2006‚Äì2013,"He's smart. He's lovable. He's Dexter Morgan, ...",8.7\n (759K),(759K)
8,9. How I Met Your Mother,2005‚Äì2014,A father recounts to his children - through a ...,8.3\n (723K),(723K)
9,10. The Office,2005‚Äì2013,A mockumentary on a group of typical office wo...,9.0\n (699K),(699K)
10,11. True Detective,2014‚Äì,Anthology series in which police investigation...,8.9\n (642K),(642K)
11,12. Peaky Blinders,2013‚Äì2022,"A gangster family epic set in 1900s England, c...",8.8\n (636K),(636K)
12,13. Better Call Saul,2015‚Äì2022,The trials and tribulations of criminal lawyer...,9.0\n (636K),(636K)
13,14. The Boys,2019‚Äì,A group of vigilantes set out to take down cor...,8.7\n (634K),(634K)
14,15. Black Mirror,2011‚Äì,"Featuring stand-alone dramas -- sharp, suspens...",8.7\n (632K),(632K)
15,16. Rick and Morty,2013‚Äì,The fractured domestic lives of a nihilistic m...,9.1\n (594K),(594K)
16,17. Lost,2004‚Äì2010,The survivors of a plane crash are forced to w...,8.3\n (590K),(590K)
17,18. The Mandalorian,2019‚Äì,The travels of a lone bounty hunter in the out...,8.7\n (580K),(580K)
18,19. Vikings,2013‚Äì2020,Vikings transports us to the brutal and myster...,8.5\n (575K),(575K)
19,20. Prison Break,2005‚Äì2017,A structural engineer installs himself in a pr...,8.3\n (574K),(574K)
20,21. The Witcher,2019‚Äì,"Geralt of Rivia, a solitary monster hunter, st...",8.0\n (565K),(565K)
21,22. Squid Game,2021‚Äì,Hundreds of cash-strapped players accept a str...,8.0\n (531K),(531K)
22,23. Westworld,2016‚Äì2022,At the intersection of the near future and the...,8.5\n (529K),(529K)
23,24. House of Cards,2013‚Äì2018,A Congressman works with his equally conniving...,8.6\n (528K),(528K)
24,25. Money Heist,2017‚Äì2021,An unusual group of robbers attempt to carry o...,8.2\n (526K),(526K)
25,26. House,2004‚Äì2012,"Using a crack team of doctors and his wits, an...",8.7\n (504K),(504K)
26,27. The Last of Us,2023‚Äì,"After a global pandemic destroys civilization,...",8.8\n (501K),(501K)
27,28. Attack on Titan,2013‚Äì2023,After his hometown is destroyed and is traumat...,9.1\n (498K),(498K)
28,29. Supernatural,2005‚Äì2020,Two brothers follow their father's footsteps a...,8.4\n (479K),(479K)
29,30. Modern Family,2009‚Äì2020,"Three different, but related, families face tr...",8.5\n (477K),(477K)
30,31. Suits,2011‚Äì2019,"On the run from a drug deal gone bad, brillian...",8.4\n (471K),(471K)
31,32. Daredevil,2015‚Äì2018,"A blind lawyer by day, vigilante by night. Mat...",8.6\n (471K),(471K)
32,33. Narcos,2015‚Äì2017,A chronicled look at the criminal exploits of ...,8.8\n (465K),(465K)
33,34. The Sopranos,1999‚Äì2007,New Jersey mob boss Tony Soprano deals with pe...,9.2\n (462K),(462K)
34,35. Arrow,2012‚Äì2020,Spoiled billionaire playboy Oliver Queen is mi...,7.5\n (445K),(445K)
35,36. Dark,2017‚Äì2020,"A family saga with a supernatural twist, set i...",8.7\n (437K),(437K)
36,37. The Simpsons,1989‚Äì,The satiric adventures of a working-class fami...,8.7\n (433K),(433K)
37,38. Fargo,2014‚Äì2024,"Various chronicles of deception, intrigue, and...",8.9\n (416K),(416K)
38,39. Mr. Robot,2015‚Äì2019,"Elliot, a brilliant but unstable cyber-securit...",8.5\n (415K),(415K)
39,40. Loki,2021‚Äì2023,The mercurial villain Loki resumes his role as...,8.2\n (406K),(406K)
40,41. South Park,1997‚Äì,Follows the misadventures of four irreverent g...,8.7\n (403K),(403K)
41,42. The Wire,2002‚Äì2008,"The Baltimore drug scene, as seen through the ...",9.3\n (373K),(373K)
42,43. Death Note,2006‚Äì2007,An intelligent high school student goes on a s...,8.9\n (372K),(372K)
43,44. The Flash,2014‚Äì2023,"After being struck by lightning, Barry Allen w...",7.5\n (367K),(367K)
44,45. House of the Dragon,2022‚Äì,An internal succession war within House Targar...,8.4\n (363K),(363K)
45,46. Family Guy,1999‚Äì2025,"In a wacky Rhode Island town, a dysfunctional ...",8.2\n (362K),(362K)
46,47. Homeland,2011‚Äì2020,A bipolar CIA operative becomes convinced a pr...,8.3\n (359K),(359K)
47,48. Avatar: The Last Airbender,2005‚Äì2008,"In a war-torn world of elemental magic, a youn...",9.3\n (358K),(358K)
48,49. Brooklyn Nine-Nine,2013‚Äì2021,Comedy series following the exploits of Det. J...,8.4\n (356K),(356K)
49,50. Wednesday,2022‚Äì,"Follows Wednesday Addams' years as a student, ...",8.1\n (353K),(353K)

# Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year

In [2]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [3]:
data_sets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
data_sets.click()

In [11]:
Dataset_Name=[]
name=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in name:
    Dataset_Name.append(i.text)
    
    
Dataset_Name

['Iris',
 'Dry Bean Dataset',
 'Heart Disease',
 'Rice (Cammeo and Osmancik)',
 'Adult',
 'Raisin',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Wine',
 'Wine Quality',
 'Diabetes']

In [18]:
Task=[]
task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
for i in task:
    Task.append(i.text)
    
Task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification']

In [19]:
Data_Type=[]
dtype=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for i in dtype:
    Data_Type.append(i.text)
    
Data_Type

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Time-Series']

In [17]:
Instances=[]
ins=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for i in ins:
    Instances.append(i.text)

    
Instances

['150 Instances',
 '13.61K Instances',
 '303 Instances',
 '3.81K Instances',
 '48.84K Instances',
 '900 Instances',
 '569 Instances',
 '178 Instances',
 '4.9K Instances',
 '1 Instances']

In [21]:
df=pd.DataFrame({'Dataset_Name':Dataset_Name,'Task':Task,'Data_Type':Data_Type,'Inatances':Instances})
df

,Dataset_Name,Task,Data_Type,Inatances
0,Iris,Classification,Tabular,150 Instances
1,Dry Bean Dataset,Classification,Multivariate,13.61K Instances
2,Heart Disease,Classification,Multivariate,303 Instances
3,Rice (Cammeo and Osmancik),Classification,Multivariate,3.81K Instances
4,Adult,Classification,Multivariate,48.84K Instances
5,Raisin,Classification,Multivariate,900 Instances
6,Breast Cancer Wisconsin (Diagnostic),Classification,Multivariate,569 Instances
7,Wine,Classification,Tabular,178 Instances
8,Wine Quality,"Classification, Regression",Multivariate,4.9K Instances
9,Diabetes,Classification,"Multivariate, Time-Series",1 Instances